<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee List</title>
</head>
<body>
<h1 th:text="#{label.employee.title}">타이틀</h1>

  <table border="1">
    <tr>
      <th style="display:none">id</th>
      <th th:text="#{label.employee.name}">name</th>
      <th th:text="#{label.employee.position}">position</th>
<!--      <th th:text="#{label.employee.department}">부서</th>-->
      <th th:text="#{label.employee.email}">email</th>
      <th th:text="#{label.employee.phone}">phone</th>
      <th th:text="#{label.employee.createAt}">createAt</th>
    </tr>
    <tr th:each="employee: ${employeeList}">
      <td th:text="${employee.id}" style="display:none">id</td>
      <td th:text="${employee.name}">name</td>
      <td th:text="${employee.position}">position</td>
<!--      <td th:text = "${employee.department}">department</td>-->
      <td th:text="${employee.email}">email</td>
      <td th:text="${employee.phone}">phone</td>
      <td th:text="${employee.createAt}">createAt</td>
      <td>
        <form th:action="@{/admin/employeeList/{id}(id=${employee.id})}" method="post">
          <input type="button" value="수정" th:onclick="'location.href=\'' + @{/admin/employeeList/update/{id}(id=${employee.id})} + '\''"/>
          <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
      </td>
    </tr>
  </table>
  <a href="/"> 뒤로가기 </a>
</body>
<script>

</script>

</html>