<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UserList</title>
</head>
<body>
    <h1>User ID/Password</h1>

    <table border="1">
        <tr>
            <th style="display:none">Id</th>
            <th>username</th>
            <th>password</th>
            <th>role</th>
            <th>createAt</th>
        </tr>
        <tr th:each = "user: ${userList}">
            <td th:text = "${user.id}" style="display:none">id</td>
            <td th:text = "${user.username}">username</td>
            <td th:text = "${user.password}">password</td>
            <td th:text = "${user.role}">role</td>
            <td th:text = "${user.createAt}">createAt</td>
        </tr>
    </table>

    <a href="/"> 뒤로가기 </a>
</body>
</html>